*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
        
    
}

nav{
    flex: 1;
    text-align: right; 
}
nav ul{
    display: inline-flex;
    list-style-type: none;
} 
nav ul li{
    display: inline-block;
    margin-right: 20px;
    width: 120px;
}
.menu{
    display: none;
    
}
nav ul li:hover .menu{
    display: block;
    position: static;
    margin-top: 20px;
    margin-left: -15px;
    
}
nav ul li:hover .menu ul{
    display: block;
    margin: 10px;
    
    
}
nav ul li:hover .menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: right;
}
nav ul li:hover .menu ul li:last-child{
    
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: #555;

}
.container{
    max-width:1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
     
}
.col-2 h2{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.cabeçalho{
    background: radial-gradient(#fff, #ffd6d6 );
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
/*----Categorias----*/
.categorias{
    margin: 70px 0;
}
.categorias h2{
    text-align: center;
    margin-bottom: 50px;
}
.categorias h6{
    text-decoration: underline;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.col-4{
    flex-basis: 30%;
    padding: 10PX;
    min-width: 200PX;
    margin-bottom: 50PX;
}
.col-4 img{
    width: 100%;
}

.titulo{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.titulo::after{
    content:" ";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
h4{
    font-weight: normal;
}

.col-3 p{
    font-size: 12px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-3:hover{
    transform: translateY(-5px);
}
.col-3 img:hover{
    transform: translateY(-3px);
}
.col-4 img{
    width: 100%;
}
.audi{
   
}

.col-4 img:hover{
    width: 105%; 
}
.col-2{
    flex-basis: 45%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px
}
.col-2 IMG{
    width: 100%;
}
.col-2 IMG:hover{
    transform: translateY(-5px);
}
.titulo_mazda{
    text-align: center;
}

.TOYOTA h6{
    text-decoration: inherit;
}

.sobrenos{
    background: radial-gradient(#fff, #ffd6d6 );
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobrenos .col-2 h1{
    margin-top: 80px;
    padding-top: 100px;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.sobrenos .col-2 h2{
    
    font-size: 30px;
    line-height: 25px;
    margin: 25px 0;
    font-style: italic;
}
.sobrenos .col-2 h3{
    
    font-style: italic;
    line-height: 25px;
    margin: 25px 0;
    
}

.sobrenosh3{
    font-size: 15px;
    font-style: italic;
    line-height: 25px;
    margin: 25px 0;
}
.sobrenos .col-2{
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba;
}


/*-------rodapé------*/

.rodapé{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

.rodapé p{
    color: #8a8a8a;
}
.rodapé h3{
    color: #fff;
    margin-bottom: 20px;
}

.rodapé .rodape-col-4, a {
    text-decoration: none;
    color: #8a8a8a;
}


.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%;
}
.rodape-col-2{
    flex: 1;
    text-align: center;
}

.rodape-col-3, .rodape-col-4{
    flex-basis: 12%;
    text-align: center;
}

.rodape-col-3 ul, .rodape-col-4 ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}



/*-------------TODOS CARROS------------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}


.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #fc462d;
    color: #fff;
    transition: 0.2s;
}

/*----------Detalhes--------*/
.detalhes-produto{
    margin-top: 80px;
    
}
.detalhes-produto col-2 img{
    padding: 0;
    margin-bottom: 0px;
}

.detalhes-produto col-2{
    padding: 10px;
    margin-bottom: 0px;
}

.detalhes-produto h4{
    margin: 20px o;
    font-size: 22px;
    font-weight: bold;
}

.detalhes-produto h3{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: italic;
}

.detalhes-produto select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.detalhes-produto input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ff523b;
}

.detalhes-produto input:focus{
    outline: none;
    
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pricehiplink{
    text-decoration: wavy;
}

/*------------------login-page---------*/
.login-page{
    padding: 50px;
    background: radial-gradient(#fff, #ffd6d6 ); 
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    
}

.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

#Entrarform{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#indicador{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*--------------------navbar responsivo--------------------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s; 
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*--------------------media query under 600px--------------------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3,.col-4{
        flex-basis: 100%;
    } 
}